{{#before_first}}
<nav class="#COMPONENT_CSS_CLASSES#">
{{/before_first}}
    {{#current_page_option}}
    <a href="#LINK#">#NAME#</a>
    {{/current_page_option}}
    {{#non_current_page_option}}
    <a href="#LINK#">#NAME#</a>
    {{/non_current_page_option}}
    {{#menu_link_attributes}}{{/menu_link_attributes}}
    {{#between_levels}}{{/between_levels}}
{{#after_last}}
</div>
{{/after_last}}

{{#max_levels}}{{/max_levels}}

{{#template_option_groups}}
[]
{{/template_option_groups}}

{{#template_options}}
[]
{{/template_options}}