{{#template}}
<div id="#REGION_STATIC_ID#" class="#REGION_CSS_CLASSES#" #REGION_ATTRIBUTES#>
	#ICON_CSS_CLASSES##TITLE#
	#PREVIOUS##EDIT##COPY##EXPAND#
	#BODY##SUB_REGIONS#
	#CLOSE##HELP##CHANGE##DELETE##CREATE##CREATE2##NEXT#
</div>
{{/template}}

{{#sub_plug_header_template}}{{/sub_plug_header_template}}
{{#sub_plug_header_entry_template}}{{/sub_plug_header_entry_template}}
{{#sub_plug_template}}{{/sub_plug_template}}

{{#template_option_groups}}
[]
{{/template_option_groups}}

{{#template_options}}
[]
{{/template_options}}
